.DS_Store
.idea
*.log
tmp/
BattlyLauncher/
Electron/
Unknown Organization/
autostart/
chromium/
dconf/
discord/
flameshot/
fontforge/
glib-2.0/
google-chrome/
gtk-3.0/
hypr/
libfm/
menus/
onlyoffice/
pcmanfm/
pipewire/
pulse/
pupgui/
qBittorrent/
spotify/
unity3d/
waybar/
yay/
QtProject.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
